<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>설정 변경</title>
</head>
<style type="text/css">
    p {
        word-break: break-all;
        white-space: normal;
    }

</style>

<body>
<h1>등록된 프로젝트 현황</h1>


<ul>
    <li th:each="name : ${projectNames}" th:text="${name}"></li>
</ul>



<h1>프로젝트 추가</h1>
<form th:action="@{/addPrjNameConfig}" method="post">
    <label>프로젝트명: <input placeholder="d-platform-wm"  type="text" name="projectName"></label><br>
    <button type="submit">추가</button>
</form>


</body>
</html>